@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

*{
  font-family: 'Orelega One', serif;
}

.App {
  text-align: center;
}

body{
  margin-top: 175px;
  background-color: #12486B;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper span{
  position: fixed;
  animation: animate 10s linear infinite;
  font-size: 50px;
  z-index: -1;
  bottom: -100px;
  color: #0a1b25;
}

.wrapper span:nth-child(1){
  left: 60px;
  animation-delay: 0.6s;
}
.wrapper span:nth-child(2){
  left: 10%;
  animation-delay: 3s;
}
.wrapper span:nth-child(3){
  left: 20%;
  animation-delay: 2s;
}
.wrapper span:nth-child(4){
  left: 30%;
  animation-delay: 5s;
}
.wrapper span:nth-child(5){
  left: 40%;
  animation-delay: 1s;
}
.wrapper span:nth-child(6){
  left: 50%;
  animation-delay: 7s;
}
.wrapper span:nth-child(7){
  left: 60%;
  animation-delay: 6s;
}
.wrapper span:nth-child(8){
  left: 70%;
  animation-delay: 8s;
}
.wrapper span:nth-child(9){
  left: 80%;
  animation-delay: 6s;
}
.wrapper span:nth-child(10){
  left: 90%;
  animation-delay: 4s;
}


@keyframes animate{
  0%{
    transform: translateY(0);
    opacity: .8;
  }
  70%{
    opacity: .5;
  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

.header-container{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #419197;
  color: #fff;
  padding: 10px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
}

.title h1{
  font-size: 35px;
}

 .header i{
  font-size: 30px;
  opacity: .5;
  transition: .3s ease;
 }

 .header i:hover,
 .title:hover
 {
  opacity: 1;
  cursor: pointer;
 }

 .settings i:hover{
  transform: rotateZ(30deg);
 }
 
 .modo{
  text-align: left;
  max-width: 440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
 }

 .icono{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 70px;
  color: #fff;
  background-color: #0E3650;
  margin-right: 20px;
  padding: 3.8px; 

  border: 4px #419197 solid;
  border-radius: 15px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
  transition: .3s ease;
  animation: aparecerDesdeDerecha 1s ease-out;
 }

 @keyframes aparecerDesdeDerecha {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes aparecerDesdeAbajo {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nombre { 
  background-color: #419197;

  border: 4px #fff solid;
  border-radius: 15px;
  padding: 12px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
  transition: .3s ease;
  animation: aparecerDesdeIzquierda 1s ease-out;
}

@keyframes aparecerDesdeIzquierda {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.modo:hover{
  .nombre{
    background-color: white;
    border: 4px #419197 solid;
  }
  .nombre h1{
    color: #419197;
  }
  .nombre p{
    color: #0E3650;
  }
  .icono{
    color: #0E3650;
    background-color: white;
    border: 4px #419197 solid;
  }
}

.nombre h1{
  color: #fff;
  font-size: 30px;
  text-align: left;

  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
 
.nombre p{
  color: #F5FCCD;
  font-size: 20px;
  text-align: left;

  margin: 0;
}

.menu-dropdown{
  text-align: center;
  background-color: white;
  animation: aparecerDesdeDerecha 1s ease-out;
}

.menu-dropdown ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-dropdown ul li{
  padding: 10px;
}

.menu-dropdown ul li:hover,
.menu-dropdown ul li:hover a{
  background-color: #419197;
  color: white;
}

.menu-dropdown ul li a{
  text-decoration: none; 
  color: #419197;
}

/*Modo Clasico CSS*/

.clasico{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.clasicocard{
  text-align: center;
  width: 376.69px;
  margin: 50px auto;
  margin-top: 0;
  margin-bottom: 0;
  
  background-color: #419197;
  border: 4px solid #fff;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
}

.clasicotitulo{
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.clasicotexto{
  font-size: 20px;
  color: #F5FCCD;
}

.downcard{
  justify-content: center;
  display: flex;
  align-items: center;

  margin-top: 40px;
}

.clasicoinput{
  margin-right: 15px;
}

.personajebuscador{
  width: 310px;
  color: white;
  font-size: 22px;
  padding: 10px;
  background-color: #0E3650;
  border: 4px solid #419197;
  border-radius: 15px;

  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
}

.personajebuscador::placeholder{
  color: #fff;
  opacity: 0.7;
}

.send{
  height: 51.2px;
  width: 51.2px;;
  background-color: #0E3650;
  border: 4px solid #419197;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);

  transition: .3s ease;
}

.send:hover{
  background-color: #419197;
  border: 4px solid white;
}

.send i{
  font-size: 32px;
  color: white;
}

/*Modo clásico lista de búsqueda*/
.listaresultados{
  display: flex;
  justify-content: center;
  align-items: center;
}

.listaresultados ul{
  margin-top: 25px;
  padding: 5px; 
  list-style-type: none;
  width: 394.69px;
  background-color: #419197;
  border-radius: 0px 0px 15px 15px;
}

.listaresultados ul li{
  padding: 10px;
  color: white;
  font-size: 20px;
}

.listaresultados ul li:hover{
  background-color: white;
  cursor: pointer;
  color: #419197;
  border-radius: 8px;
}

.tabla{
  justify-content: center;
  text-align: center;
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.intentostabla{
  animation: fadeIn 1s ease forwards;
}

.tablaresultados{
  border-spacing: 5px;
  margin-top: 35px;
}

.tabla th, .tabla td{
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: white;
}

.tabla td{
  height: 50px;
  border: 3px solid rgb(218, 255, 251);
  color: white;
  border-radius: 5px;

  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
}

.tabla th{
  border-bottom: 3px solid #fff;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.blue_cell{
  background-color: #0E3650;
}

.green_cell{
  background-color: #5CB988;
}

.red_cell{
  background-color: #CD5257;
}

.yellow_cell{
  background-color: rgb(173, 175, 64);
}

.pistadiv{
  margin-top: 25px;
}

.pistacard{
  border: 4px solid #C9EFE8;
  border-radius: 15px;
  background-color: #5AA195;
  padding: 10px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
  width: 376.69px;

  transform-origin: center bottom;
}

.pistadiv i{
  font-size: 55px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.pistadiv2{
  margin-top: 25px;
}

.pistadiv2 i{
  font-size: 55px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.pistadiv2 i:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.pistatexto{
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.pistatexto2{
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.pistapersonaje{
  color: white;
}

.pistatexto3{
  color: white;
  font-size: 20px;

  position: relative;
  background-color: #0E3650;
  padding: 10px;
  border-radius: 15px;
  z-index: 1;
  width: 350px;
  word-wrap: break-word;
  margin: 0;
}

.pistatexto3::before{
  content: '';
  position: absolute;
  top: -19px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #0E3650 transparent;
  z-index: 2;
}

.bocadillopista{
  justify-content: center;
  text-align: center;
  display: flex;

}

@keyframes aparecer {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.wincard{
  border: 4px solid #C9EFE8;
  border-radius: 15px;
  background-color: #5AA195;
  padding: 10px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
  width: 376.69px;

  animation: aparecer 1s ease-in-out;
  transform-origin: center bottom;
}

.wintext{
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.wintext2{
  font-size: 18px;
  color: #0E3650;
}

.datodiv{
  padding: 10px;
  background-color: #0E3650; 
  border-radius: 15px;
}

.titulodato{
  font-size: 25px;
  color: #F5FCCD;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} 

.textodato{
  width: 350px;
  font-size: 18px;
  color: white;
  word-wrap: break-word;
}

/*TEMPORIZADOR HASTA EL SIGUIENTE PERSONAJE DEL DIA*/

.contador{
  font-size: 20px;
  color: white;
}

.horas{
  color: white;
  font-size: 50px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tablaResultados{
  justify-content: center;
  text-align: center;
  display: flex;
}

.comparacion-table{
  border-collapse: separate;
  border-spacing: 4px;
  margin-bottom: 12px;
}

.noresultado{
  margin-top: 25px;
  padding-left: 5px; 
  padding-right: 5px;
  list-style-type: none;
  width: 394.69px;
  background-color: #419197;
  border-radius: 0px 0px 15px 15px;
}

.noresultado p{
  color: white;
  font-size: 20px;
}

.sharecard{
  color: white;
  font-size: 20px;
  border: 4px solid #C6D3DB;
  border-radius: 15px;
  background-color: #7191A6;
  padding: 10px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
  width: 376.69px;

  transform-origin: center bottom;
}

.sharecard p{
  margin-bottom: 0;
}

.coincidenciasdiv{
  margin-top: 25px;
}

.shareButtonStyle{
  margin-top: 25px;
  color: white;
  padding: 15px;
  font-size: 25px;
  border: 4px solid white;
  border-radius: 12px;
  background-color: #419197;

  transition: .3s ease;
}

.shareButtonStyle:hover{
  background-color: white;
  color: #419197;
  border: 4px solid #419197;
  cursor: pointer;
}

.cuadrado {
  width: 30px;
  height: 30px;
  margin: 2.5px 5px 2.5px 5px;
  display: inline-block;
  border-radius: 10px;
}

.filasadicionales{
  margin-bottom: 0;
}

.nextmode{
  font-size: 20px;
  padding-top: 30px;
  color: white;
  border-top: 3px solid #fff;
}

.modo2{
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 20px auto;

  animation: escalar 1s infinite alternate;
 }

 .icono2{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;
  color: #fff;
  background-color: #0E3650;
  margin-right: 10px;
  padding: 9px;

  border: 3.5px #419197 solid;
  border-radius: 15px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
  transition: .3s ease;
 }

.nombre2 { 
  background-color: #419197;

  border: 3.5px #fff solid;
  border-radius: 15px;
  padding: 12px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
  transition: .3s ease;
}

.modo2:hover{
  .nombre2{
    background-color: white;
    border: 3.5px #419197 solid;
  }
  .nombre2 h1{
    color: #419197;
  }
  .nombre2 p{
    color: #0E3650;
  }
  .icono2{
    color: #0E3650;
    background-color: white;
    border: 3.5px #419197 solid;
  }
}

.nombre2 h1{
  color: #fff;
  font-size: 25px;
  text-align: left;

  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
 
.nombre2 p{
  color: #F5FCCD;
  font-size: 15px;
  text-align: left;

  margin: 0;
}

@keyframes escalar {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.05);
  }
}

/*Modo Logro CSS*/

.logro{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hoja{
  font-size: 20px;

  background-color: #fff;
  border: 3.5px solid #ccc;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  /*Lineas de hoja de papel*/
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 20px,
    rgba(0, 0, 0, 0.1) 20px,
    rgba(0, 0, 0, 0.1) 21px
  );

  /* Puntos en el lateral */
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 10px;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2) 50%,
      transparent 50%
    );
    background-position: 50% 0;
    background-size:6px 6px;
    background-repeat: repeat-y;
  }
}

/*Lenguaje CSS*/

.lenguaje{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.terminal {
  background-color: #000;
  color: #0F0;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.cabecera{
  text-align: right;
  background-color: #000;
  border-radius: 10px 10px 0 0;
  border-bottom: 4px solid #419197;
  color: white;
  padding: 10px;
}

.cabecera span i{
  margin-left: 10px;
  font-size: 15px;
}

.codigotexto {
  text-align: left;
  font-size: 20px;
}

.ranking-container {
  position: relative;
  margin-bottom: 35px;
}

.popup {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(245, 252, 207);
  color: #0E3650;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.popup input,
.popup button {
  margin: 10px;

  color: white;
  font-size: 22px;
  padding: 10px;
  background-color: #0E3650;
  border: 4px solid #419197;
  border-radius: 15px;
  transition: .3s ease;
}

.popup input::placeholder{
  color: #fff;
  opacity: 0.7;
}

.popup button:hover{
  background-color: #fff;
  color: #0E3650;
  cursor: pointer;
}

.ranking{
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper-table {
  font-size: 20px;

  /* Estilos generales para la tabla */
  background-color: #fff;
  border: 4px solid #ccc;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 20px;
  position: relative;
  width: fit-content;

  /* Líneas de una hoja de papel */
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 20px,
    rgba(0, 0, 0, 0.1) 20px,
    rgba(0, 0, 0, 0.1) 21px
  );

  /* Puntos en el lateral */
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 10px;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2) 50%,
      transparent 50%
    );
    background-position: 50% 0;
    background-size:5px 5px;
    background-repeat: repeat-y;
  }

  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
}

.paper-table td, .paper-table th{
  padding: 10px;
}

.titrank{
  margin-top: 30px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titrank i{
  color: rgb(255, 253, 140);
  
  animation: rotasion 2s linear infinite;
  transform-style: preserve-3d;
}

@keyframes rotasion {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.loading{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading i{
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.containerStyle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerclasico{
  justify-content: center;
  display: flex;
  align-items: center;

  margin-top: 15px;
}

.containerStyle p{
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 0;
}

.containerStyle p a i{
  font-size: 35px;
  opacity: 0.6;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.containerStyle p a i:hover{
  opacity: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup2 {
  color: white;
  border: 4px solid #fff;
  background: #0a1b25;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: left;
  position: fixed;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-height: 90vh;
  overflow-y: auto;
}

.popup2::-webkit-scrollbar {
  width: 8px;
}

.popup2::-webkit-scrollbar-track {
  background-color: transparent;
}

.popup2::-webkit-scrollbar-thumb {
  background-color: #419197;
  border-radius: 6px;
}

.popup2::-webkit-scrollbar-corner {
  background-color: transparent;
}

.popup2::-webkit-scrollbar-button {
  display: none;
}


.popup2 h2{
  border-bottom: 3px solid #fff;
  padding-bottom: 10px;
  text-align: left;
}

.close-button {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.verde{
  background-color: #5CB988;
  border-radius: 5px;
  color: white;
}

.amarillo{
  background-color: rgb(173, 175, 64);
  border-radius: 5px;
  color: white;
}

.rojo{
  background-color: #CD5257;
  border-radius: 5px;
  color: white;
}

.popup2 h3{
  color: #419197;
}

.valoresposibles{
  color: #F5FCCD;
}

.sugerencia-container {
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
}

.sugerencia-container div:nth-child(even){
  animation: aparecerDesdeDerecha 1s ease-out;
}

.sugerencia-container div:nth-child(odd){
  animation: aparecerDesdeIzquierda 1s ease-out;
}

.sugerencia-container  h2{
  color: white;
}

.input-container {
  margin-bottom: 30px;
}

.sugerencia-label {
  display: block;
  margin-bottom: 5px;
  color: #F5FCCD;
  font-size: 20px;
}

.sugerencia-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  color: white;
  font-size: 22px;
  padding: 10px;
  background-color: #0E3650;
  border: 4px solid #419197;
  border-radius: 15px;

  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
}

.sugerencia-container button{
  color: white;
  font-size: 22px;
  padding: 10px;
  background-color: #0E3650;
  border: 4px solid #419197;
  border-radius: 15px;
}

.sugerencia-container button:hover{
  background-color: #fff;
  color: #0E3650;
  cursor: pointer;
}

.popup3{
  color: white;
  border: 4px solid #fff;
  background: #0a1b25;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: left;
  position: fixed;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-height: 90vh;
  overflow-y: auto;
}

@media (max-width: 599px) {
  .tabla th, .tabla td{
    font-size: 70% !important;
    padding: 4px !important;
  }

  .i{
    font-size: 70%;
  }
}

@media (max-width: 400px) {
  .tabla th, .tabla td{
    font-size: 50% !important;
    padding: 2px !important;
  }

  .i{
    font-size: 50%;
  }
}

.iconoframework{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 75px;
  height: 100px;
  width: 100px;
  border: 4px solid #F5FCCD;
  border-radius: 15px;
  color: #F5FCCD;
  margin: auto;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
  margin-bottom: 25px;
}

.textoframe{
  color: white;
  font-size: 17px;
}
#root {
  flex: 1;
}

footer {
  color: white;
  margin-top: auto;
  background-color: #0a1b25;
  text-align: center;
  padding: 10px;
}

.politicapriv{
  font-size: 12px;
}

.politicapriv:hover{
  border-bottom: 2px solid white;
  cursor: pointer;
}


.nopermitido:hover{
  cursor: not-allowed;
}

/*Gestión*/
.personajes-container {
  display: flex;
  flex-wrap: wrap;
}

.personajes-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  align-items: flex-start;
  align-content: space-between;
  margin-bottom: 30px;
}

.personaje-card {
  position: relative;
  overflow: hidden;
  display: flex;

  flex: 1;
  margin-right: 20px; 
  margin-left: 20px;
  border: 1px solid #ddd; 
  padding: 20px; 

  border: 4px solid white;
  border-radius: 15px;
  background-color: #419197;
  
  font-size: 20px;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
}

.gestiontitle{
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 12px;
  border-bottom: 3px solid white;
  padding-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: aparecerDesdeDerecha 1s ease-out;
}

.personaje-card label {
  margin-bottom: 5px;
  text-align: left;
  color: #F5FCCD;
}

.personaje-card input,
.personaje-card select{
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px;

  border: 3.5px solid #0E3650;
  border-radius: 12px;
}

.personaje-card h3{
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.botones-container {
  display: flex;
  justify-content: space-between;
  
}

.botones-container button{
  padding: 10px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
  transition: .3s ease;
}

.delete{
  color: white;
  background-color: #CD5257;  
  border: 3.5px solid #742a2c;
  border-radius: 10px;
}

.add{
  color: white;
  background-color: #5CB988;
  border: 3.5px solid #296445;
  border-radius: 10px;
}

.save{
  color: white;
  background-color: #419197;
  border: 3.5px solid #12486B;
  border-radius: 10px;
}

.save:hover{
  background-color: #12486B;
  border: 3.5px solid #419197;
  cursor: pointer;
}

.delete:hover{
  background-color: #742a2c;  
  border: 3.5px solid #CD5257;
  cursor: pointer;
}

.add:hover{
  background-color: #296445;
  border: 3.5px solid #5CB988;
  cursor: pointer;
}

.personaje-card2 {

  position: relative;
  overflow: hidden;
  display: flex;

  flex: 1;
  margin-right: 20px; 
  margin-left: 20px;
  border: 1px solid #ddd; 
  padding: 20px; 

  border: 4px solid #419197;
  border-radius: 15px;
  background-color: #0a1b25;
  
  font-size: 20px;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
}

.personaje-card2 > * {
  flex: 1;
}

.personaje-card2 label {
  margin-bottom: 5px;
  text-align: left;
  color: #F5FCCD;
}

.personaje-card2 input,
.personaje-card2 select,
.personaje-card2 textarea{
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px;

  border: 3.5px solid #419197;
  border-radius: 12px;
}

.personaje-card2 h3{
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.personaje-card3 {

  position: relative;
  overflow: hidden;
  display: flex;

  flex: 1;
  margin-right: 20px; 
  margin-left: 20px;
  border: 1px solid #ddd; 
  padding: 20px; 

  border: 4px solid #0a1b25;
  border-radius: 15px;
  background-color: #0E3650;
  
  font-size: 20px;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
}

.personaje-card3 > * {
  flex: 1;
}

.personaje-card3 label {
  margin-bottom: 5px;
  text-align: left;
  color: #F5FCCD;
}

.personaje-card3 input,
.personaje-card3 select,
.personaje-card3 textarea{
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px;

  border: 3.5px solid #0a1b25;
  border-radius: 12px;
}

.personaje-card3 h3{
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.iconosdegestion{
  font-size: 30px;
  color: white;
}

.iconosdegestion i{
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.iconosdegestion i:hover{
  border-bottom: 3px solid #fff;
  cursor: pointer;
}

.contenido {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

.contenido.mostrar {
  max-height: 2000px;
  transition: max-height 1s ease-in-out; 
}

.contenidoboton{
  align-items: center;
  justify-content: center;
  text-align: right;
  margin-right: 20px;
}

.botonmostrar{
  background-color: transparent;
  color: white;
  border: none;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: aparecerDesdeAbajo 1s ease-out;
}

.botonmostrar:hover{
  cursor: pointer;
}

.politica-privacidad{
  padding: 20px;
  background-color: #F5FCCD;
}

.politica-privacidad h2{
  color:  #0E3650;
  margin-top: 40px;
}

.enlase{
  color: #12486B;
  border-bottom: 2px solid #12486B;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
}
.loading-overlay p {
  margin-bottom: 20px;
}

.loading-overlay i{
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}