@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

*{
  font-family: 'Orelega One', serif;
}

.App {
  text-align: center;
}

body{
  background-color: #12486B;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #419197;
  color: #fff;
  padding: 10px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
}

.title h1{
  font-size: 35px;
}

 .header i{
  font-size: 30px;
  opacity: .5;
  transition: .3s ease;
 }

 .header i:hover,
 .title:hover
 {
  opacity: 1;
  cursor: pointer;
 }

 .settings i:hover{
  transform: rotateZ(30deg);
 }
 
 .modo{
  justify-content: center;
  display: flex;
  align-items: center;

  margin-top: 40px;
 }

 .icono{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 70px;
  color: #fff;
  background-color: #0E3650;
  margin-right: 20px;
  padding: 3.8px;

  border: 4px #419197 solid;
  border-radius: 10px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
 }

.nombre { 
  background-color: #419197;

  border: 4px #fff solid;
  border-radius: 10px;
  padding: 12px;
  width: 450px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.7);
}

.nombre h1{
  color: #fff;
  font-size: 30px;
  text-align: left;

  margin: 0;
}
 
.nombre p{
  color: #F5FCCD;
  font-size: 20px;
  text-align: left;

  margin: 0;
}
